html, body { height: 100%; }

body { background-image: url('../images/bg.jpg'); background-attachment: fixed; background-position-y: center; background-size: cover; }

#login-page { height: 100%; width: 400px; margin-bottom: 0; }

.login-logo { text-align: center; }
.login-logo img { width: 170px; }

.google { border-top: 1px solid #999; margin-top: 20px; padding-top: 20px; }

.brand-logo { height: 100%; }
.brand-logo img { height: 100%; }

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.btn-small { width: 20px; height: 20px; line-height: 20px; }
.btn-small i { line-height: 20px; }

.sticky-top { position: fixed; z-index: 9999; }

.scrumboard .collection .collection-item { padding: 10px 0; }

#task-actions-modal { overflow-y: visible; }